body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background: url(../assets/images/audience.jpg) bottom center;
    background-size: cover;
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

kbd {
    display: block;
    font-size: 4rem;
}

.key {
    background: rgba(0, 0, 0, .4);
    border: .4rem solid black;
    border-radius: .5rem;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 0 0 .5rem black;
    transition: .1s ease;
    width: 10rem;
}

.keys {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100vh;
}

.playing {
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.1);
}

.sound {
    color: #ffc600;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}