body {
    background: #ffc600;
    font-family: 'Helvetica Neue', sans-serif;
}

input {
    margin: 20px;
}

input:checked+p {
    background: #ddd;
    text-decoration: line-through;
}

p {
    border-left: 1px solid #d1e2ff;
    flex: 1;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 20px;
}

.inbox {
    background: #eee;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, .1);
    margin: 50px auto;
    max-width: 400px;
}

.item {
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
}

.item:last-child {
    border-bottom: 0;
}