a {
    color: #ffc600;
    text-decoration: none;
}

body {
    align-items: center;
    background: url(https://source.unsplash.com/nDqA4d5NL0k/2000x2000);
    background-size: cover;
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

#bands {
    background: white;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    list-style: inside square;
    margin: auto;
    padding: 0;
    width: 500px;
}

#bands li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#bands li:last-child {
    border-bottom: 0;
}